<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>253051975234-isfpsucjk2qosthg3tgmisdmdgacpt5v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.253051975234-isfpsucjk2qosthg3tgmisdmdgacpt5v</string>
	<key>API_KEY</key>
	<string>AIzaSyBCKsnK8uP3u-K2eMK9R1xEnWxUHOK_V48</string>
	<key>GCM_SENDER_ID</key>
	<string>253051975234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>twwm</string>
	<key>PROJECT_ID</key>
	<string>employee-management-syst-530eb</string>
	<key>STORAGE_BUCKET</key>
	<string>employee-management-syst-530eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253051975234:ios:a6f3a2fb92d922da399fdb</string>
	<key>DATABASE_URL</key>
	<string>https://employee-management-syst-530eb.firebaseio.com</string>
</dict>
</plist>